<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <header class="header-home">
        <p>ZXIU 走秀网</p>
    </header>

    <div class="search">
        <input type="text" placeholder="请输入搜索内容">
    </div>
    <div id="container" class="page-1">
        <div class="wrapper">
            <div class="reload" style="display: none">松手刷新页面</div>
            <div class="banner swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="img/banner.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="img/b1.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="img/b2.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="img/b3.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="main">
                <ul>
                    <!--js add-->
                    <li class="loading">loading...</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>