<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div id="intro">
        <header>
            <span class="iconfont icon-fanhui"></span>
            <p>商品介绍</p>
            <div>
                <a href="javascript:;">
                    分享
                </a>
            </div>
        </header>
        <div class="time">
            距离结束时间：04天01时15分47.2秒
        </div>
        <div class="main">
            <div class="pic">
                <img src="" alt="">
            </div>
            <h3 class="clearfix">
                <span class="price">¥ <i>259</i></span>
                <span class="tit">灰色印花短袖T恤</span>
            </h3>
            <div class="detail">
                <span class="old-pirce">市场价:¥<s>439</s></span>
                <span class="discount"><i>4.8</i>折</span>
                <span class="buy-num"><i>125</i>人购买</span>
            </div>
        </div>
    </div>
</body>
</html>