<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div id="pics">
        <header>
            <span class="iconfont icon-fanhui"></span>
            <p>商品详情</p>
            <div>
                <a href="javascript:;">
                    分享
                </a>
            </div>
        </header>
        <div class="swiper-container main">
            <div class="swiper-wrapper">
                <!--<div class="swiper-slide">
                    <img src="" alt="">
                </div>-->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</body>
</html>